*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html {
  background: #02080c;
}

body {
  background: #02080c;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: #02080c;
}
